

.colorButton {
  width: 200px;
  height: 200px;
  display: inline-block;
}

.bottom-left-panel-red {
  border-bottom-left-radius: 200px;
  background-color: red;
}

.bottom-right-panel-blue {
  border-bottom-right-radius: 200px;
  background-color: blue;
}

.top-left-panel-green {
  border-top-left-radius: 200px;
  background-color: green;
}

.top-right-panel-yellow {
  border-top-right-radius: 200px;
  background-color: yellow;
}